AlchemyEthUrl=https://eth-mainnet.g.alchemy.com/v2/xxxxxxxxxxx-XXXXXXXXXXXXXXXXX
AlchemyEthAPIKey=xxxxxxxxxxx-XXXXXXXXXXXXXXXXX
MoralisUrl=https://deep-index.moralis.io/api/v2/{address}/nft
MoralisAPIKey=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx